<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="SupportedLanguagesSection" type="SpeechTranslator.Configuration.SupportedLanguagesSection, SpeechTranslator" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <SupportedLanguagesSection>
      <Languages>
        <add language="Arabic (Egypt), modern standard" code="ar-EG"/>
        <add language="Catalan (Spain)" code="ca-ES"/>
        <add language="Danish (Denmark)" code="da-DK"/>
        <add language="German (Germany)" code="de-DE"/>
        <add language="English (Australia)" code="en-AU"/>
        <add language="English (Canada)" code="en-CA"/>
        <add language="English (United Kingdom)" code="en-GB"/>
        <add language="English (India)" code="en-IN"/>
        <add language="English (New Zealand)" code="en-NZ"/>
        <add language="English (United States)" code="en-US"/>
        <add language="Spanish (Spain)" code="es-ES"/>
        <add language="Spanish (Mexico)" code="es-MX"/>
        <add language="Finnish (Finland)" code="fi-FI"/>
        <add language="French (Canada)" code="fr-CA"/>
        <add language="French (France)" code="fr-FR"/>
        <add language="Hindi (India)" code="hi-IN"/>
        <add language="Italian (Italy)" code="it-IT"/>
        <add language="Japanese (Japan)" code="ja-JP"/>
        <add language="Korean (Korea)" code="ko-KR"/>
        <add language="Norwegian (Bokmål) (Norway)" code="nb-NO"/>
        <add language="Dutch (Netherlands)" code="nl-NL"/>
        <add language="Polish (Poland)" code="pl-PL"/>
        <add language="Portuguese (Brazil)" code="pt-BR"/>
        <add language="Portuguese (Portugal)" code="pt-PT"/>
        <add language="Russian (Russia)" code="ru-RU"/>
        <add language="Swedish (Sweden)" code="sv-SE"/>
        <add language="Chinese (Mandarin, simplified)" code="zh-CN"/>
        <add language="Chinese (Hong Kong SAR)" code="zh-HK"/>
        <add language="Chinese (Mandarin, Taiwanese)" code="zh-TW"/>
      </Languages>
    </SupportedLanguagesSection>
    <appSettings>
      <add key="KEY" value="267f75d51c1d43e2ac88a243c3ec12fd"/>
      <add key="AzureServer" value="northeurope"/>
    </appSettings>
</configuration>