<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="SupportedLanguagesSection" type="SpeechTranslator.Configuration.SupportedLanguagesSection, SpeechTranslator" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <SupportedLanguagesSection>
      <Languages>
        <add language="French" code="fr-FR"/>
        <add language="Italian" code="it-IT"/>
      </Languages>
    </SupportedLanguagesSection>
    <appSettings>
      <add key="KEY" value="267f75d51c1d43e2ac88a243c3ec12fd"/>
      <add key="AzureServer" value="northeurope"/>
    </appSettings>
</configuration>